.Navbar{
    padding: 20px 0px ; 
    display: flex;
    justify-content: space-between;
    align-items: center;  
     height: 80px; 
   
} 
.Navbar .Logo{
    width: 100px;  
    height: 100px;
       
}
.navbar-menu{
 
    display: flex; 
    list-style: none; 
    gap: 30px;
    color: #494949; 
    font-size: 18px;
}  

.navbar-right{
    display: flex; 
    text-align: center;
    gap: 40px;
}  

a{
    text-decoration: none;
}


.Navbar button{
    background-color: transparent; 
    font-size: 16px;
    color: #494949;
    border: 1px solid tomato; 
    padding: 10px 30px; 
    border-radius: 50px; 
    cursor: pointer; 
    transition-property: 0.3s;
} 
.Navbar button:hover{
    background-color: tomato; 
    color: white;
} 

.Navbar .active{
    padding-bottom: 2px; 
    border-bottom: 2px solid #494949;
} 
.Navbar li{
    cursor: pointer;
}

.navbar-serach-icon{
    position: relative; 
   
}  
 

.navbar-right img{
    width: 30px;  
    height: 30px; 
    margin-top: 12px;

}

.navbar-serach-icon .dot{
    position: absolute; 
    min-width: 10px; 
    min-height: 10px; 
    background-color: tomato; 
    border-radius: 5px; 
    top: -8px;
    right: -8px;
    


}

@media (max-width: 1050px) {
     .Navbar .Logo {
        width: 80px; 
        height: 80px;
     } 

     .navbar-menu{
        gap: 20px; 
        font-size: 17px;
     } 

     .navbar-right {
        gap: 30px;
     } 
     .navbar-right img{
        width: 22px;
        height: 22px;
       margin-top: 10px;
     } 
     .navbar-right button { 
        padding: 8px 25px;

     }
}

@media (max-width: 900px) {
    .Navbar .Logo {
       width: 80px;
    } 

    .navbar-menu{
       gap: 15px; 
       font-size: 16px;
    } 

    .navbar-right {
       gap: 20px;
    } 
    .navbar-right img{
       width: 20px; 
       height: 20px;
       margin-top: 8px;
    } 
    .navbar-right button { 
       padding: 7px 20px; 
       font-size: 15px;

    }
} 

@media (max-width: 750px) {
    

    .navbar-menu{
       display: none;
    } 

   
}